<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	        <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tremoteIp:%X{remoteIp}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
	    </encoder>
	</appender>

	<root>
	    <appender-ref ref="STDOUT" />
	</root>

</configuration>