<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="userRepository" class="example.inject.constructor_argname.UserRepositoryImpl" />
	<bean id="passwordEncoder" class="example.inject.constructor_argname.BCryptPasswordEncoder" />
	<bean id="userService" class="example.inject.constructor_argname.UserServiceImpl">
		<constructor-arg name="passwordEncoder" ref="passwordEncoder" />
		<constructor-arg name="userRepository" ref="userRepository" />
	</bean>
		
</beans>