<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="userRepository" 
		class="example.beanlifecycle.predestroy_destroymethod_xml.UserRepositoryImpl" />
	<bean id="userService" 
		class="example.beanlifecycle.predestroy_destroymethod_xml.UserServiceImpl"
		destroy-method="clearCache">
		<constructor-arg ref="userRepository" />
	</bean>
		
</beans>