<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<beans profile="development">
		<bean id="dataSource" class="example.config.profile_xml_config.DataSourceForDev"></bean>
	</beans>
	
	<beans profile="production">
		<bean id="dataSource" class="example.config.profile_xml_config.DataSourceForProd"></bean>
	</beans>
	
		
</beans>