<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<h2>th:if, th-switch, th-case attribute sample application</h2>
<ul>
	<li><a href="./if-switch/output.html?remark=&amp;size=L" th:href="@{/if-switch?remark=&amp;size=L}">/if-switch?remark=&amp;size=L</a></li>
	<li><a href="./if-switch/output.html?remark=remark%20comment&amp;size=M" th:href="@{/if-switch?remark=remark%20comment&amp;size=M}">/if-switch?remark=remark%20comment&amp;size=M</a></li>
	<li><a href="./if-switch/output.html?remark=5%20peaple&amp;size=S" th:href="@{/if-switch?remark=5%20peaple&amp;size=S}">/if-switch?remark=5%20peaple&amp;size=S</a></li>
	<li><a href="./if-switch/output.html?remark=garden&amp;size=NA" th:href="@{/if-switch?remark=garden&amp;size=NA}">/if-switch?remark=garden&amp;size=NA</a></li>
</ul>
</body>
</html>
