<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="userRepository" class="example.di_xmlconfig.UserRepositoryImpl" />
	<bean id="passwordEncoder" class="example.di_xmlconfig.BCryptPasswordEncoder" />
	<bean id="userService" class="example.di_xmlconfig.UserServiceImpl">
		<constructor-arg ref="userRepository" />
		<constructor-arg ref="passwordEncoder" />
	</bean>
		
</beans>