<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.mapper.MeetingRoomMapper">

	<select id="findOne" parameterType="string" resultType="MeetingRoom">
		SELECT
			room_id AS roomId,
			room_name AS roomName,
			capacity
		FROM
			meeting_room
		WHERE
			room_id = #{roomId}
	</select>
	
	<select id="count" resultType="_long">
		SELECT COUNT(*) FROM meeting_room
	</select>
	
	<select id="findAll" resultType="MeetingRoom">
		SELECT
			room_id AS roomId,
			room_name AS roomName,
			capacity
		FROM
			meeting_room
		ORDER BY
			room_id
	</select>
	
	<insert id="create" parameterType="MeetingRoom">
		<selectKey keyProperty="roomId" order="BEFORE" resultType="string">
			<!-- 2019.01.17: change for postgreSQL
			SELECT RANDOM_UUID()
			-->
			SELECT gen_random_uuid()
		</selectKey>
		
		INSERT INTO meeting_room (room_id, room_name, capacity)
			VALUES (#{roomId}, #{roomName}, #{capacity})
	</insert>
</mapper>